<!DOCTYPE html>
<html>
	<head>
		<title>Transmogrify Internet Legalese</title>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
		<!-- shim is needed to support non-HTML5 FormData browsers (IE8-9)-->
		<script src="./js/ng-file-upload-shim.js"></script> 
		<script src="./js/ng-file-upload.js"></script> 
		<script src="./js/controllers.js"></script>
		<link type="text/css" rel="stylesheet" href="./css/common.css">
	</head>
	<body ng-app="App" ng-controller="AppController">
		<h1>Transmogrify Internet Legalese</h1>
	   	<div ngf-drop ng-model="files" class="drop-box" 
	       ngf-drag-over-class="dragover" ngf-multiple="true" ngf-allow-dir="true"
	       ngf-accept="'.jpg,.png,.pdf'">Drop Images or PDFs files here</div>
	       <div>
	       	<ul>
	           	 <li ng-repeat="f in files">{{f.name}} :: {{f.size}} bytes :: {{f.url}}</li>
	       	</ul>
	       </div>
	</body>
</html>